
body{
    font-family: Open Sans, Helvetica, Sans Serif;
}

.green{
    background:green;
}

.red{
    background:red;
}

.grey{
    background:gray;
}

.panel-danger .panel-heading h3,
.panel-danger .panel-body p
{
    font-weight:600;
}

h2 a{
    font-weight:300;
    color:#aaa;
}

footer{
    margin-top:20px;
    margin-bottom:20px;
}
.navbar-brand, .navbar-brand:hover{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    text-align: center;
    margin: auto;
    background-color: #3498db;
    height: 75px;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover{
    background-color: #3498db;
}
.navbar-brand>img  {
    height: 40px;
    margin: 0 auto;
    display: block;
}
.navbar-toggle {
    z-index:3;
}
body{
    padding-top: 0px;
}